body {
  background-color: #ddeedd;
  margin: 0;
}

.center {
  margin: auto;
  width:20%;
}

#container {
  margin-left: auto;
  margin-right: auto;
}


#title {
  background-color: #c2d4dd;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#title a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

#title input[type=text] {
  padding: 6px;
  margin-top: 2vw;
  font-size: 17px;
  border: none;
}

#signcart {
  float: right;
}
#nav {
  background-color: #b0aac0;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

#prod {
  background-color: #f0efef;
}
